h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    border-style: solid;
    border-color: black;
    
  }
h2{
    text-align: center;
    
}  
p{
    font-size: 20px;
}
body{
  background-color: rgb(102, 153, 255);
}